:root{
    --clr-blanco: #FFFFFF;
    --clr-blanco2: #F5F5F5;
    --clr-gris: #D9D9D9;
    --clr-grisFuerte: #797979;
    --clr-negro:#000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #app {
    width: 100vw;
    height: 100vh;
}

body{
    display: grid;
    grid-template-areas: 
    "encabezado encabezado encabezado"
    "main main main"
    "footer footer footer"
    ;
    background-color: var(--clr-blanco2);
}

.encabezado{
    grid-area: encabezado;
    height: 200px;
    padding: 40px;
    background-color: var(--clr-blanco);
    color: var(--clr-negro);
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 16px;
}

.nav{
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul{
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

a{
    padding-left: 25px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a:hover{
    border-radius: 4px;
    background-color: var(--clr-negro);
    color: var(--clr-blanco);
}

.links-desplazar{
    padding-left: 80px;
}

h1{
    font-size: 1.9em;
    font-weight: bold;
    text-transform: uppercase;
}

a{
    text-decoration: none;
    padding-right: 30px;
    color: var(--clr-negro);
}

.main{
    grid-area: main; /* Asigna al área principal */
    align-self: center; /* Centra verticalmente dentro de su área */
    justify-self: center; /* Centra horizontalmente dentro de su área */
    width: 80%; /* Ajusta el ancho */
    max-width: 1500px; /* Limita el ancho máximo */
    background-color: var(--clr-blanco); /* Fondo del main */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    flex: 1;
    font-family:sans-serif;
}

.correo-oferta{
    width: 100%;
    background-color: var(--clr-gris);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0;
}

.info-ofertas p{
    padding-top: 15px;
    font-size: 14px;
}

.correo-info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.correo-info input{
    width: 300px;
    height: 45px;
    padding: 10px;
}

.button-enviar{
    width: 100px;
    height: 45px;
    margin-left: 15px;
    border: none;
    background-color: var(--clr-negro);
    font-weight: bold;
    color: var(--clr-blanco);
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 20px;
    font-family: sans-serif;
}

.footer .domicilio{
    margin: 40px;
    padding: 30px;
    width: 100%;
}

.informacion-global{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 90px;
}

.footer-section {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    align-items: center;
}

.footer-section h3 {
    font-size: 1.1em;
    margin-bottom: 10px;
    align-items: center;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 5px;
    text-align: left;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-section p {
    font-size: 0.9em;
}

.bi-wechat{
    font-size: 25px;
    background-color: var(--clr-blanco2);
    width: 60px;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: var(--clr-negro);
}

@media screen and (max-width: 940px){
    .main{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer, .informacion-global{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-section{
        margin-top: 35px;
    }

    .informacion-global{
        padding: 15px;
    }

    .correo-oferta{
        display: flex;
        flex-direction: column;
    }

    .correo-info{
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .correo-info input{
        margin-top: 5px;
    }
}
